<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <h1 class="">Name:
        <a href="#" data-url= <%= users_profile_update_path %> id="name" data-type="text" data-pk="1" data-title="name">
          <% if @user.name == nil %>
          <%= "please enter name" %>
          <% else %>
          <%= @user.name %>
          <% end %>
        </a>
      </h1>

      <br>
    </div>

    <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src= <%= @user.image %> ></a>
      <%= bootstrap_form_for @user, url: {action: "update_image"} do |f| %>
        <%= f.file_field :image, label: "select image" %>
        <%= f.submit "upload image" %>
      <% end %>
    </div>



  </div>
  <br
  <div class="row">
    <div class="col-sm-3">
      <!--left col-->
      <ul class="list-group">
          <li class="list-group-item text-muted" contenteditable="false">Profile</li>
          <li class="list-group-item text-right"><span class="pull-left"><strong class="">Joined</strong></span><%= @user.created_at.strftime("%d %B %Y") %></li>
          <li class="list-group-item text-right"><span class="pull-left"><strong class="">Last seen</strong></span><%= @user.last_sign_in_at.strftime("%d %B %Y") %></li>
          <li class="list-group-item text-right"><span class="pull-left"><strong class="">Real name</strong></span><%= @user.name %></li>
          <li class="list-group-item text-right"><span class="pull-left"><strong class="">Events Attended: </strong></span><%= @user.events.length %></li>
          <li class="list-group-item text-right"><span class="pull-left"><strong class="">Events Created: </strong></span><%= @user.events.length %></li>
      </ul>

      <div class="panel panel-default">
        <div class="panel-heading">Insured / Bonded?</div>
        <div class="panel-body"><i style="color:green" class="fa fa-check-square"></i> Yes, I am insured and bonded.</div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
        <div class="panel-body"><a href="http://bootply.com" class="">bootply.com</a></div>
      </div>

      <ul class="list-group">
        <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Shares</strong></span> 125</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Likes</strong></span> 13</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Posts</strong></span> 37</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Followers</strong></span> 78</li>
      </ul>

      <div class="panel panel-default">
        <div class="panel-heading">Social Media</div>
        <div class="panel-body"><i class="fa fa-facebook fa-2x"></i>  <i class="fa fa-github fa-2x"></i>
          <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i>  <i class="fa fa-google-plus fa-2x"></i>
        </div>
      </div>
    </div>

      <!--/col-3-->

    <div class="col-sm-9" contenteditable="false" style="">
      <div class="panel panel-default">
        <div class="panel-heading"><%= @user.name %>'s Bio</div>
        <div class="panel-body"><%= @user.name %></div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Interests</div>
        <div class="panel-body">
          <!-- <a href="#" id="type_of_sport" data-type="select2" data-pk="1" data-title="Enter username" class="editable editable-click">superuser</a> -->
          <!-- <a href="#" id="country" data-type="select2" data-pk="1" data-value="ru" data-url="/post" data-title="Select country"></a> -->
          <a href="#" id="tags" data-type="select2" data-pk="1" data-title="Enter tags" class="editable editable-click" style="display: inline;">html, javascript</a>
        </div>
        <!-- <h1 class="">Interests:
          <a href="#" data-url= <%= users_profile_update_path %> id="sports" data-type="text" data-pk="1" data-title="sports">
            <% if @user.name == nil %>
            <%= "please enter name" %>
            <% else %>
            <%= @user.name %>
            <% end %>
          </a>
        </h1> -->
      </div>

      <div class="panel panel-default target">
        <div class="panel-heading" contenteditable="false">Recent Activities Joined</div>
        <div class="panel-body">
          <div class="row">


              <% @user.events.each_with_index do | value, index | %>
              <% if index % 3 == 0 %>
                <div class="row text-center">
              <% end %>
                  <div class="col-md-4 col-sm-6 hero-feature">
                      <div class="thumbnail">
                          <img src="http://placehold.it/800x500" alt="">
                          <div class="caption">
                              <h3> <%= value.name %> </h3>
                              <p> Sport: <%= value.type_of_sport %> </p>

                              <p> Date: <%= value.date.to_formatted_s(:long) %> </p>
                              <p> Time: <%= value.time.to_formatted_s(:time) %> </p>
                              <p> Location: <%= value.location %> </p>
                              <% counter = 0 %>
                              <% value.attendings.each_with_index do |x, y| %>
                                <% if current_user != nil && x.user_id == current_user.id %>
                                <%= link_to "Leave", leave_event_path(value), :method=> :delete, :class=>"btn btn-primary" %>
                                <% counter = 1 %>
                                <% elsif y == value.attendings.length - 1 && counter == 0%>
                                <%= link_to "Join Now!", join_event_path(value), :method=> :post, :class=>"btn btn-primary" %>
                                <% end %>
                              <% end %>
                               <%= link_to "More Info", event_path(value), { :class=>"btn btn-default" } %>
                          </div>
                      </div>
                  </div>
              <% if index % 3 == 2 || @user.events.length - 1 == index %>
                </div>
              <% end %>
            <% end %>

          </div>
        </div>
        <!-- end row -->
      </div>
    </div>
  </div>
</div>

<!-- script for x-editable -->
<script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<%= javascript_include_tag "select2.min.js" %>

<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

<script>
  $.fn.editable.defaults.mode = 'inline';
    $('#name').editable();
    // $('#type_of_sport').editable({
    //     inputclass: 'input-large',
    //     select2: {
    //       tags: true,
    //         data: ['html', 'javascript', 'css', 'ajax'],
    //         tokenSeparators: [",", " "]
    //     }
    // });

    //local source
    $('#country').editable({
        source: [
              {id: 'gb', text: 'Great Britain'},
              {id: 'us', text: 'United States'},
              {id: 'ru', text: 'Russia'}
           ],
        select2: {
           multiple: true
        }
    });
    //remote source (simple)
    $('#country').editable({
        source: '/getCountries',
        select2: {
            placeholder: 'Select Country',
            minimumInputLength: 1
        }
    });
    //remote source (advanced)
    $('#country').editable({
        select2: {
            placeholder: 'Select Country',
            allowClear: true,
            minimumInputLength: 3,
            id: function (item) {
                return item.CountryId;
            },
            ajax: {
                url: '/getCountries',
                dataType: 'json',
                data: function (term, page) {
                    return { query: term };
                },
                results: function (data, page) {
                    return { results: data };
                }
            },
            formatResult: function (item) {
                return item.CountryName;
            },
            formatSelection: function (item) {
                return item.CountryName;
            },
            initSelection: function (element, callback) {
                return $.get('/getCountryById', { query: element.val() }, function (data) {
                    callback(data);
                });
            }
        }
    });

</script>
