<!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>A Warm Welcome!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
            <div class="row">
              <%= link_to "Create Events", new_event_path, { :class=>"btn btn-warning btn-large" } %>
              <%= link_to "Show Events", list_event_path, { :class=>"btn btn-warning btn-large" } %>
            </div>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
        <div class="col-lg-10">
        <div class="row">
            <div class="col-lg-12">
                <h3>Results User</h3>
                <% if @users == [] %>
                <h1> No User Found! </h1>
                <% end %>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <% @users.each_with_index do | value, index | %>
          <% if index % 4 == 0 %>
            <div class="row text-center">
          <% end %>
              <div class="col-md-3 col-sm-6 hero-feature">
                  <div class="thumbnail">
                      <img src="http://lorempixel.com/800/500/" alt="">
                      <div class="caption">
                          <% results_name = value.name || "NIL" %>
                          <h3>Name: <%= link_to "#{results_name}", user_path(value.id) %> </h3>
                          <% results_joined = value.created_at.to_formatted_s(:long)|| "NIL" %>
                          <p>Joined at <%= results_joined %> </p>
                          <% if current_user == nil %>
                          <%= form_for(@following, :url => followings_path, :method => 'post') do |f| %>
                          <div class="actions">
                            <%= f.hidden_field :follower_id, value: value.id  %>
                            <%= f.submit 'follow me', :class => 'btn btn-default' %>
                          </div>
                          <% end %>
                          <% else %>
                          <% if value.id != current_user.id &&  @follow ==nil %>
                            <%= form_for(@following, :url => followings_path, :method => 'post') do |f| %>
                            <div class="actions">
                              <%= f.hidden_field :follower_id, value: value.id  %>
                              <%= f.submit 'follow me', :class => 'btn btn-default' %>
                            </div>
                            <% end %>

                          <% elsif value.id != current_user.id && @follow !=nil %>
                            <div class="label label-primary">Followed!!</div>
                            <!-- unfollow link -->
                            <%= form_for(@following, :url => following_path(@follow.id), :method => 'delete') do |f| %>
                            <div class="actions">
                              <%= f.hidden_field :follower_id, value: value.id  %>
                              <%= f.submit 'unfollow me', :class => 'btn btn-default' %>
                            </div>
                            <% end %>
                            <% end %>
                            <% end %>




                      </div>
                  </div>
              </div>
          <% if index % 4 == 3 || @users.length - 1 == index %>
            </div>
          <% end %>
        <% end %>
        <!-- /.row -->
        <hr>
        <% if @events != nil %>
        <div class="row">
            <div class="col-lg-12">
                <h3>Results Event</h3>
                <% if @events == [] %>
                <h1> No Event Found! </h1>
                <% end %>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <% @events.each_with_index do | value, index | %>
          <% if index % 4 == 0 %>
            <div class="row text-center">
          <% end %>
              <div class="col-md-3 col-sm-6 hero-feature">
                  <div class="thumbnail">
                      <img src="http://lorempixel.com/800/500/" alt="">
                      <div class="caption">
                          <% results_name = value.name || "NIL" %>
                          <h3>Name: <%= link_to "#{results_name}", event_path(value.id) %> </h3>
                          <% results_joined = value.created_at.to_formatted_s(:long)|| "NIL" %>
                          <p>Created at <%= results_joined %> </p>
                      </div>
                  </div>
              </div>
          <% if index % 4 == 3 || @events.length - 1 == index %>
            </div>
          <% end %>
        <% end %>
        <!-- /.row -->
        <hr>
        <% end %>
      </div>
      </div>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
