<!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>A Warm Welcome!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
            <div class="row">
              <%= link_to "Create Events", new_event_path, { :class=>"btn btn-warning btn-large" } %>
              <%= link_to "Show Events", list_event_path, { :class=>"btn btn-warning btn-large" } %>
            </div>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
        <div class="col-lg-10">
        <div class="row">
            <div class="col-lg-12">
                <h3><a href=<%= list_event_path %>>Latest Events</a></h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <% @latestevents.each_with_index do | value, index | %>
          <% if index % 4 == 0 %>
            <div class="row text-center">
          <% end %>
              <div class="col-md-3 col-sm-6 hero-feature">
                  <div class="thumbnail">
                      <img src="http://lorempixel.com/800/500/" alt="">
                      <div class="caption">
                          <h3> <%= value.name %> </h3>
                          <p> Sport: <%= value.tags.where("tag_id = ?", "#{value.type_of_sport}").first.value %> </p>

                          <p> Date: <%= value.date.to_formatted_s(:long) %> </p>
                          <p> Time: <%= value.time.to_formatted_s(:time) %> </p>
                          <p> Region: <%= value.tags.where("tag_id = ?", "#{value.region}").first.value %> </p>
                          <p> Location: <%= value.tags.where("tag_id = ?", "#{value.location}").first.value %> </p>
                          <% counter = 0 %>
                          <% value.attendings.each_with_index do |x, y| %>
                            <% if current_user != nil && x.user_id == current_user.id %>
                            <%= link_to "Leave", leave_event_path(value), :method=> :delete, :class=>"btn btn-primary" %>
                            <% counter = 1 %>
                            <% elsif y == value.attendings.length - 1 && counter == 0%>
                            <% if value.attendings.length == value.maxpax %>
                            <button class="btn btn-static"> Full </button>
                            <% else %>
                            <%= link_to "Join Now!", join_event_path(value), :method=> :post, :class=>"btn btn-primary" %>
                            <% end %>
                            <% end %>
                          <% end %>
                           <%= link_to "More Info", event_path(value), { :class=>"btn btn-default" } %>
                      </div>
                  </div>
              </div>
          <% if index % 4 == 3 || @latestevents.length - 1 == index %>
            </div>
          <% end %>
        <% end %>
        <!-- /.row -->
        <hr>
        <% if @myevents != nil && !@myevents.empty? %>
        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3><a href=<%= user_path(current_user.id) %>>My Events</a></h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <% @myevents.each_with_index do | value, index | %>
          <% if index % 4 == 0 %>
            <div class="row text-center">
          <% end %>
              <div class="col-md-3 col-sm-6 hero-feature">
                  <div class="thumbnail">
                      <img src="http://lorempixel.com/800/500/" alt="">
                      <div class="caption">
                          <h3> <%= value.name %> </h3>
                          <p> Sport: <%= value.tags.where("tag_id = ?", "#{value.type_of_sport}").first.value %> </p>

                          <p> Date: <%= value.date.to_formatted_s(:long) %> </p>
                          <p> Time: <%= value.time.to_formatted_s(:time) %> </p>
                          <p> Region: <%= value.tags.where("tag_id = ?", "#{value.region}").first.value %> </p>

                          <p> Location: <%= value.tags.where("tag_id = ?", "#{value.location}").first.value %> </p>
                          <% counter = 0 %>
                          <% value.attendings.each_with_index do |x, y| %>
                            <% if x.user_id == current_user.id %>
                            <%= link_to "Leave", leave_event_path(value), :method=> :delete, :class=>"btn btn-primary" %>
                            <% counter = 1 %>
                            <% elsif y == value.attendings.length - 1 && counter == 0 %>
                            <%= link_to "Join Now!", join_event_path(value), :method=> :post, :class=>"btn btn-primary" %>
                            <% end %>
                          <% end %>
                           <%= link_to "More Info", event_path(value), { :class=>"btn btn-default" } %>
                      </div>
                  </div>
              </div>
          <% if index % 4 == 3 || @myevents.length - 1 == index %>
            </div>
          <% end %>
        <% end %>

        <hr>
        <% end %>
        <div class="col-lg-2" id="events">
          <%= calendar do |date| %>
            <%= link_to "#{date.day}", events_path(:date => "#{date}") %>
          <% end %>
        </div>
      </div>
      </div>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
