<h1>Events#new</h1>
<p>Find me in app/views/events/new.html.erb</p>
<%= form_for :event, url: events_path do |p| %>

  <p>
    <%= p.label :name %><br>
    <%= p.text_field :name %>
  </p>

  <p>
    <%= p.label :description %><br>
    <%= p.text_area :description %>
  </p>

  <p>
    <%= p.label :location %><br>
    <%= p.text_area :location %>
  </p>

  <p>
    <%= p.label :type_of_sport %><br>
    <%= p.text_area :type_of_sport %>
  </p>

  <p>
    <%= p.label :date %><br>
    <%= p.text_area :date %>
  </p>

  <p>
    <%= p.label :time %><br>
    <%= p.text_area :time %>
  </p>

  <p>
    <%= p.label :duration %><br>
    <%= p.text_area :duration %>
  </p>

  <p>
    <%= p.label :minpax %>
    <%= p.text_area :minpax %>
  </p>

  <p>
    <%= p.label :maxpax %>
    <%= p.text_area :maxpax %>
  </p>

  <p>
    <%= p.submit %>
  </p>
<% end %>
