<div class="jumbotron">
  <div class="container-fluid text-center">
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <p><a href="#">Link</a></p>
        <p><a href="#">Link</a></p>
        <p><a href="#">Link</a></p>
      </div>
      <div class="col-sm-8 text-left">
        <h1><%= @event.name %></h1>
        <% @event.tags.where(id: @event.type_of_sport).each do |sport| %>
        <h2><%= sport.value %></h2>
        <% end %>
        <% @event.users.where(id: @event.user_id).each do |value| %>
        <li>Host: <%=value.email%> </li>
        <% end %>
        <li>Date: <%= @event.date.to_formatted_s(:long) %></li>
        <li>Time: <%= @event.time.to_formatted_s(:time) %></li>
        <li>Region: <%= @event.region %></li>
        <li>Location: <%= @event.location %></li>
        <% if @event.minpax == 0 %>
        <li>Max <%= @event.maxpax %> Pax</li>
        <%else%>
        <li>Min <%= @event.minpax %> - Max <%= @event.maxpax %> Pax</li>
        <%end%>
        <li>Current Attending: <%= @event.attendings.length %></li>
        <li>Remaining Slots: <%= @event.maxpax - @event.attendings.length %></li>
        <hr>
        <div class="row">
        <div class="col-md-6">
        <h3>Description</h3>
        <p><%= @event.description %></p>
      </div>
      <% @event.tags.where(id: @event.location).each do |location| %>
        <iframe width="400" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCJ_zKe_xdEQi-gZx-x61gXLRZ9WexJXF8&q=<%= location.value %>&zoom=16" allowfullscreen></iframe>
      <% end %>
        <div class="col-md-6">
          <% if current_user == nil %>
            <%= link_to "Join", join_event_path(@event), :method=> :post, :class=>"btn btn-primary" %>
          <% else %>
          <% if @event.attendings.where(user_id: current_user.id).empty? %>
            <% if @event.maxpax == @event.attendings.length %>
            <button class="btn btn-static">Full</button>
            <% else %>
            <%= link_to "Join", join_event_path(@event), :method=> :post, :class=>"btn btn-primary" %>
            <% end %>
          <%else%>
            <%= link_to "Leave", leave_event_path(@event), :method=> :delete, :class=>"btn btn-primary" %>
          <% end %>
          <% end %>
        </div>
        </div>
      </div>
      <div class="col-sm-2 sidenav">
        <div class="well">
          <p>ADS</p>
        </div>
        <div class="well">
          <p>ADS</p>
        </div>
      </div>
    </div>
  </div>
  things to add :
  people in the event(left bar)/friends(right bar)
  google(beside the div class showing all details, store both div into a row)

  <h3>This is supposed to be the comments section:</h3>
  <%= render 'comments/comment' %>
  <footer class="container-fluid text-center">
    <p>Footer Text</p>
  </footer>

</div>
